@tailwind base;
@tailwind components;
@tailwind utilities;

.floating-alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.loading-animation {
    animation: loading 4s linear;
}

table.dataTable tbody tr:hover:hover {
    background-color: #ffffdd;
}
